@font-face {
    font-family: bold;
    src: url(Poppins-Bold.ttf);
}

@font-face {
    font-family: regular;
    src: url(Poppins-Regular.ttf);
}

@font-face {
    font-family: light;
    src: url(Poppins-Light.ttf);
}

@font-face {
    font-family: boldd;
    src: url(Montserrat-Bold.ttf);
}

@font-face {
    font-family: regularr;
    src: url(Montserrat-Regular.ttf);
}

@font-face {
    font-family: lighty;
    src: url(Montserrat-Light.ttf);
}


html {
    height: 100%;
    background-color: black;
    color: white;
}


* {
    font-family: regular;
    margin: 0;
    scroll-behavior: smooth;
}


/* ACCEUIL.HTML -------------------------------------------------------------------- */

/* Navigation barre */

nav {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 50px 90px;
}

nav h1 {
    font-family: boldd;
    font-size: 2.5em;
    border-bottom: 1px solid;
}

nav h1:hover {
    cursor: crosshair;
}

nav a {
    font-family: lighty;
    margin: 20px;
    text-decoration: none;
    color: white;
}

nav a:hover {
    font-weight: 900;
    border-bottom: 1px solid;
}

.nav-link-div-responsive {
    display: none;
}

.nav-link-div-responsive div {
    display: none;
}

.nav-link-div-responsive i {
    font-size: 2.5em;
}

.nav-link-div-responsive:hover .menu-deroulant {
    display: flex !important;
    flex-direction: column;
    position: absolute;
    background-color: black;
    width: 250px;
    align-items: flex-end;
    right: 75px;
    border-bottom: 3px solid;
}

.menu-deroulant a {
    padding: 20px;
    margin: 0;
}

/* L'équipe du projet */

.the-team {
    margin: 100px 0;
}

.the-team-responsive {
    display: none !important;
}

.the-team h2 {
    width: fit-content;
    font-family: boldd;
    font-size: 1.5em;
    border-bottom: 1px solid;
    margin: 20px 150px;
}

.the-team > div {
    display: flex;
    justify-content: space-between;
    margin: 0px 150px;
}

.the-team > div img {
    border: 3px solid;
    margin: 5px;
    width: 200px;
}

.the-team h5 {
    margin: 5px;
}

.the-team p {
    width: 40%;
    text-align: justify;
    margin: 20px 150px;
}

/* Notre mission */

.the-mission h2 {
    width: fit-content;
    font-family: boldd;
    font-size: 1.5em;
    border-bottom: 1px solid;
    margin: 20px 150px;
}

.the-mission a {
    font-family: lighty;
    margin: 20px;
    text-decoration: none;
    color: white;
    width: fit-content;
    border-bottom: 1px solid;
}

.the-mission a:hover {
    font-weight: 900;
}

.the-mission div {
    display: flex;
    flex-direction: column;
}

.the-mission li {
    width: 33.333%;
    margin: 20px 50px 50px 50px;
}

.the-mission ol {
    display: flex;
    justify-content: space-around;
    width: calc(100% - 40px);
}

.the-mission ol p {
    text-align: justify;
    width: fit-content;
}

.the-mission > p {
    text-align: justify;
    margin: 20px 25% 0 150px;
}

/* Contact */

footer {
    display: flex;
    color: black;
    background-color: white;
    justify-content: space-evenly;
    padding: 20px;
}

footer h2 {
    width: fit-content;
    font-family: boldd;
    font-size: 1.5em;
    border-bottom: 1px solid;
    margin: 20px 0;
}

footer div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;  
    justify-content: center;
}

footer h1 {
    font-family: boldd;
    font-size: 2.5em;
    border-bottom: 1px solid;
}

footer h1:hover {
    cursor: crosshair;
}

footer a {
    font-family: lighty;
    margin: 10px;
    text-decoration: none;
    font-weight: 900;
}

/* RESPONSIVE ---------------------------------------------------------------------- */

/* responsive téléphone */
@media only screen and (max-width: 768px) {
    /* nav */
    nav {
        margin: 40px 25px !important;
        align-items: center;
    }

    nav h1 {
        width: min-content;
    }

    .nav-link-div-responsive:hover .menu-deroulant {
        right: 10px;
    }


    /* Notre équipe */
    .the-team > div {
        align-items: center;
    }

    .the-team div {
        margin-left: 50px;
    }

    .the-team > div img {
        width: 80%;
    }

    .the-team div div {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .the-team h2 {
        margin: 20px 25px !important;
    }

    .the-team p {
        margin: 20px 25px !important;
        width: auto ;
    }

    .team-1 {
        margin-bottom : 25px;
    }

    /* Nos missions */
    .the-mission h2 {
        margin: 20px 25px !important;
    }

    .the-mission > p {
        margin: 20px 25px 0 25px !important;
    }

    .the-mission ol {
        width: auto;
        padding: 10px;
        flex-direction: column;
    }


    .the-mission li {
        width: fit-content;
        margin: 20px 25px 25px 25px;
    }


    /* Contact / footer */
    footer {
        flex-direction: column;
    }

    footer h1 {
        font-size: 1.5em;
    }

    footer h2 {
        font-size: 1.1em;
    }

    footer div {
        align-items: flex-start;
    }
}

/* responsive téléphone */
@media only screen and (max-width: 880px) {

    .the-team > div {
        display: none;
    }

    .team-1 {
        margin-bottom: 30px !important;
    }

    .the-team-responsive {
        display: flex !important;
        justify-content: space-evenly !important;
    }
}

/* responsive tablette */
@media only screen and (max-width: 1090px) {
    /* La barre de navigation */
    nav {
        margin: 40px 100px;
    }

    .nav-link-div {
        display: none;
    }

    .nav-link-div-responsive {
        display: block;
    }

    /* L'équipe */
    .the-team {
        margin: 75px 0;
    }

    .the-team div {
        margin: 0;
        justify-content: space-around;
    }

    .the-team h2 {
        margin: 20px 75px;
    }

    .the-team p {
        width: 80% !important;
        margin: 20px 75px;
    }

    /* Notre mission */
    .the-mission h2 {
        margin: 20px 75px;
    }

    .the-mission > p {
        margin: 20px 25% 0 75px;
    }
}